@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Ensure global scrollbars are hidden or styled completely invisibly on modal overflow */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}